@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans&display=swap');

body {
    font-family: 'Balsamiq Sans', cursive;
}

#navBar {
    background-color: rgb(52, 184, 52);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#navHeading {
    float: left;
    font-weight: bold;
    font-size: 42px;
    margin: 4px;
}

li {
    display: inline;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    border: 2px black solid;
    border-radius: 5px;
}

li:hover {
    background-color: rgb(10, 146, 10);
    color: white;
    cursor: pointer;
}